
@{
    ViewData["Title"] = "Temp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Tema Rengini Seç</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tasarım</a></li>
                    <li class="breadcrumb-item active">Renkler</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <div class="color-box bg-primary p-4 rounded">
                    <a class="my-2 text-white">#556ee6</a>
                </div>
                <h5 class="mb-0 mt-3 text-primary">Mavi</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <div class="color-box bg-success p-4 rounded">
                    <a class="my-2 text-white">#34c38f</a>
                </div>
                <h5 class="mb-0 mt-3 text-success">Yeşil</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <div class="color-box bg-info p-4 rounded">
                    <a class="my-2 text-white">#50a5f1</a>
                </div>
                <h5 class="mb-0 mt-3 text-info">Turkuaz</h5>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <div class="color-box bg-warning p-4 rounded">
                    <a class="my-2 text-white">#f1b44c</a>
                </div>
                <h5 class="mb-0 mt-3 text-warning">Sarı</h5>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-end" style="float:right; margin:15px;">
    <div class="col-lg-10">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>