
@{
    ViewData["Title"] = "AllOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Tüm Siparişler</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Sipariş</a></li>
                    <li class="breadcrumb-item active">Tüm Siparişler</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i> Yeni Siparişler</button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sipariş ID</th>
                                <th>Firma Adı</th>
                                <th>Ürün Adı</th>
                                <th>Tarih</th>
                                <th>Toplam</th>
                                <th>Ödeme Durumu</th>
                                <th>Platform</th>
                                <th>Aksiyon</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>Juan Mays</td>
                                <td>
                                    <p class="mb-1">443-523-4726</p>
                                    <p class="mb-0">JuanMays@armyspy.com</p>
                                </td>

                                <td>
                                    3755 Harron Drive
                                    Salisbury, MD 21875
                                <td>06 Oct, 2019</td>

                                <td>$5,632</td>
                                <td><span class="badge badge-success font-size-12"><i class="mdi mdi-star mr-1"></i> 4.0</span></td>
                                <td>zühre.com</td>
                                <td>

                                    <ul class="list-inline font-size-20 contact-links mb-0 ">
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="DÜZENLE"><i class="mdi mdi-pencil font-size-16 text-success mr-1"></i></a>
                                        </li>
                                        <li class="list-inline-item px-2">
                                            <a id="orderDelete" data-toggle="tooltip" data-placement="top" title="Sil"><i class="mdi mdi-trash-can font-size-16 text-danger mr-1"></i></a>
                                        </li>
                                    </ul>


                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>Juan Mays</td>
                                <td>
                                    <p class="mb-1">443-523-4726</p>
                                    <p class="mb-0">JuanMays@armyspy.com</p>
                                </td>

                                <td>
                                    3755 Harron Drive
                                    Salisbury, MD 21875
                                <td>06 Oct, 2019</td>

                                <td>$5,632</td>
                                <td><span class="badge badge-success font-size-12"><i class="mdi mdi-star mr-1"></i> 4.0</span></td>
                                <td>zühre.com</td>
                                <td>

                                    <ul class="list-inline font-size-20 contact-links mb-0 ">
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="DÜZENLE"><i class="mdi mdi-pencil font-size-16 text-success mr-1"></i></a>
                                        </li>
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="Sil"><i class="mdi mdi-trash-can font-size-16 text-danger mr-1"></i></a>
                                        </li>
                                    </ul>


                                </td>
                            </tr>





                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>Juan Mays</td>
                                <td>
                                    <p class="mb-1">443-523-4726</p>
                                    <p class="mb-0">JuanMays@armyspy.com</p>
                                </td>

                                <td>
                                    3755 Harron Drive
                                    Salisbury, MD 21875
                                <td>06 Oct, 2019</td>

                                <td>$5,632</td>
                                <td><span class="badge badge-success font-size-12"><i class="mdi mdi-star mr-1"></i> 4.0</span></td>
                                <td>zühre.com</td>
                                <td>

                                    <ul class="list-inline font-size-20 contact-links mb-0 ">
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="DÜZENLE"><i class="mdi mdi-pencil font-size-16 text-success mr-1"></i></a>
                                        </li>
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="Sil"><i class="mdi mdi-trash-can font-size-16 text-danger mr-1"></i></a>
                                        </li>
                                    </ul>


                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">&nbsp;</label>
                                    </div>
                                </td>
                                <td>Juan Mays</td>
                                <td>
                                    <p class="mb-1">443-523-4726</p>
                                    <p class="mb-0">JuanMays@armyspy.com</p>
                                </td>

                                <td>
                                    3755 Harron Drive
                                    Salisbury, MD 21875
                                <td>06 Oct, 2019</td>

                                <td>$5,632</td>
                                <td><span class="badge badge-success font-size-12"><i class="mdi mdi-star mr-1"></i> 4.0</span></td>
                                <td>zühre.com</td>
                                <td>

                                    <ul class="list-inline font-size-20 contact-links mb-0 ">
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="DÜZENLE"><i class="mdi mdi-pencil font-size-16 text-success mr-1"></i></a>
                                        </li>
                                        <li class="list-inline-item px-2">
                                            <a href="" data-toggle="tooltip" data-placement="top" title="Sil"><i class="mdi mdi-trash-can font-size-16 text-danger mr-1"></i></a>
                                        </li>
                                    </ul>


                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@section Order { 

<script>


    document.getElementById("orderDelete").addEventListener("click", function(){

        Command: toastr["success"]("Sipariş Silme İşlemi Başarıyla Tamamlandı")

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    })


</script>



}
