
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4 ">
                        <select class="form-control">
                            <option>Ana Sayfa</option>
                            <option>Categoriler</option>
                            <option>Small select</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" type="button" id="inputGroupFileAddon03">Kaydet</button>
                        </div>
                    </div>
                    <div class="col-md-4 ">

                    <partial name="../Shared/PartialView/PartialTabPage.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8" align="center">
                        <h5>Blok Adı</h5>
                    </div>

                    <div class="col-md-4 ">
                        <div class="d-flex flex-row-reverse">
                            <div class="p-2">  <i class="bx bx-trash-alt mr-2 bx-md "></i></div>
                            <div class="p-2"> <i class="bx bx-edit mr-2 bx-md"></i></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



