

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-3  col-xl-4">
                        <select class="form-control">
                            <option>Ana Sayfa</option>
                            <option>Categoriler</option>
                            <option>Small select</option>
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3  col-xl-4 ">
                        <button id="kaydet" class="btn btn-success mt-2 mt-md-0" type="button">Kaydet</button>
                    </div>

                    <div class="col-sm-12 col-md-4 col-lg-3 col-xl-4">
                        <button type="button" class="btn btn-success mt-2 mt-md-0  float-sm-left float-md-left  float-lg-righ float-xl-right" data-toggle="modal" data-target=".bd-example-modal-lg">
                            Yeni Blok Ekle
                        </button>
                        <!-- Modal -->
                        <partial name="PartialTabPage">

                    </div>
                    <div class="col-md-4 ">

                        <partial name="../Shared/PartialView/PartialTabPage.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-8 col-lg-8 col-xl-8" align="center">
                        <h5>Blok Adı</h5>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
                        <ul class="list-inline font-size-20 contact-links mb-0 float-sm-left float-md-left float-lg-right float-xl-right">
                            <li class="list-inline-item px-2">
                                <a href="" data-toggle="tooltip" data-placement="top" title="DÜZENLE"><i class="mdi mdi-pencil font-size-16 text-success mr-1"></i></a>
                            </li>
                            <li class="list-inline-item px-2">
                                <a id="delete" data-toggle="tooltip" data-placement="top" title="Sil"><i class="mdi mdi-trash-can font-size-16 text-danger mr-1"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>

        document.getElementById("kaydet").addEventListener("click", function () {

            Command: toastr["success"]("Kayıt İşlemi Başarıyla Tamamlandı")

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": 300,
                "hideDuration": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


        })

        document.getElementById("delete").addEventListener("click", function () {

            Command: toastr["success"]("Silme İşlemi Başarıyla Tamamlandı")

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": 300,
                "hideDuration": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


        })

        document.getElementById("product").addEventListener("click", function () {

            var search = document.getElementById("crd");
            if (search.style.display == "none") {



@section Scripts
{

    <script>

        document.getElementById("kaydet").addEventListener("click", function () {

            Command: toastr["success"]("Kayıt İşlemi Başarıyla Tamamlandı")

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": 300,
                "hideDuration": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


        })

        document.getElementById("delete").addEventListener("click", function () {

            Command: toastr["success"]("Silme İşlemi Başarıyla Tamamlandı")

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": 300,
                "hideDuration": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }


        })

        document.getElementById("product").addEventListener("click", function () {


            var search = document.getElementById("crd");
            if (search.style.display == "none") {

                search.style.display = "block";
            }


        });






        //$(document).ready(function () {
        //    $("#ekle").click(function () {
        //        let item = $("#search").val();
        //        $.ajax({

        //            datatype: "json",
        //            type: "Get",
        //            contenttype: "application/jsom;charset=utf-8",
        //            url: "ShowCase/PostItemCode",
        //            data: { ıtemcode: item },

        //            success: function (data) {

        //                let product = JSON.parse(data);
        //                console.log(product);
        //                /*        let htmltag = "<table class='table'><thead> <tr><th>barcode</th><th>ürün adı</th><th>açıklama</th><th>renk</th></tr></thead>"*/


        //                //$.each(data, (i, value) => {
        //                //    console.log(value);
        //                //})


        //                // $("#tblproduct").append(`<td>${data.barcode}</td><td>${data.itemcode}</td><td>${data.itemdescription}</td><td>${data.colordescription}</td>`)
        //                ////htmltag += `<tr><td>${value.barcode}</td><td>${value.itemcode}</td><td>${value.itemdescription}</td><td>${value.colordescription}</td></tr>`



        //                //htmltag += "</table>";
        //                //$("#show").html(htmltag);
        //            }
        //        });
        //    });
        //});





    </script>


}


