@*

*@


<div class="input-group-prepend d-flex flex-row-reverse">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">
        Yeni Blok Ekle
    </button>
    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">



                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Genel</a>
                        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">İçerik</a>
                        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Hazır Blok Şablonları</a>
                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                  <partial name="GeneralSettings"/>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">..sdsdsdsdsdsdsdsds</div>
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">ss...</div>
                </div>


            </div>
        </div>
    </div>
</div>


