@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="modal fade" id="CategoryUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-group">
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Kategori Adı</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="Kategori Adı" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Kategori Kodu</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="Kategori Kodu" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">SEO Başlığı</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="SEO Başlığı" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">SEO Anahtar Kelimeler</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="SEO Anahtar Kelimeler" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">SEO Açıklama</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="SEO Açıklama" id="example-text-input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
