@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post" class="form-group">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="example-text-input" class="col-md-12 col-form-label">Varyasyon Başlığı</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="Varyasyon Başlığı" id="example-text-input">
                </div>
            </div>
            <div class="form-group">
                <label for="example-text-input" class="col-md-12 col-form-label">Açıklama</label>
                <div class="col-md-12">
                    <textarea id="textarea" class="form-control" maxlength="250" rows="4" placeholder="Bu alana en fazla 250 karakter girebilirsiniz."></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="example-text-input" class="col-md-12 col-form-label">Varyasyon Fiyatı</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="Varyasyon Fiyatı" id="example-text-input">
                </div>
            </div>
            <div class="form-group">
                <label for="example-text-input" class="col-md-12 col-form-label">Varyasyon Stok</label>
                <div class="col-md-12">
                    <input class="form-control" type="text" value="Varyasyon Stok" id="example-text-input">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <button type="button" class="btn btn-primary" style="width:120px">Ekle</button>
    </div>
</form>

