@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post" class="form-group" style="margin-left:20px">

    <h4 class="card-title">Kategori Ekle</h4>
    <br />
    <div class="custom-control custom-radio custom-control-inline custom-radio-primary mb-3">
        <input type="radio" id="customRadiocolor1" name="customRadiocolor1" class="custom-control-input" value="AnaCategory">
        <label class="custom-control-label" for="customRadiocolor1">Ana Kategori Ekle</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline custom-radio-primary mb-3">
        <input type="radio" id="customRadiocolor2" name="customRadiocolor1" class="custom-control-input" value="AltCategory">
        <label class="custom-control-label" for="customRadiocolor2">Alt Kategori Ekle</label>
    </div>
    <div class="form-group mainCategorySelectBox">
        <label class="col-md-12 col-form-label">Ana Kategori Seç</label>
        <div class="col-md-12">
            <select class="form-control">
                <option>Seç</option>
                <option>Oturma Odası</option>
                <option>Yatak Odası</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="example-text-input" class="col-md-12 col-form-label">Kategori Adı</label>
        <div class="col-md-12">
            <input class="form-control" type="text" value="Kategori Adı" id="example-text-input">
        </div>
    </div>
    <div class="form-group">
        <label for="example-text-input" class="col-md-12 col-form-label">Kategori Kodu</label>
        <div class="col-md-12">
            <input class="form-control" type="text" value="Kategori Kodu" id="example-text-input">
        </div>
    </div>
    <div class="form-group">
        <label for="example-text-input" class="col-md-12 col-form-label">SEO Başlığı</label>
        <div class="col-md-12">
            <input class="form-control" type="text" value="SEO Başlığı" id="example-text-input">
        </div>
    </div>
    <div class="form-group">
        <label for="example-text-input" class="col-md-12 col-form-label">SEO Anahtar Kelimeler</label>
        <div class="col-md-12">
            <input class="form-control" type="text" value="SEO Anahtar Kelimeler" id="example-text-input">
        </div>
    </div>
    <div class="form-group">
        <label for="example-text-input" class="col-md-12 col-form-label">SEO Açıklama</label>
        <div class="col-md-12">
            <textarea class="input-large form-control" id="message" rows="3" placeholder="SEO Açıklama ..."></textarea>
        </div>
    </div>
    <div class="float-right">
        <button type="button" class="btn btn-primary">Kaydet</button>
    </div>

</form>

