
<div class="modal fade" id="SupliersUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tedarikçi Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-group">
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Tedarikçi Adı</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="Tedarikçi Adı" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Yetkili Kişi</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="Yetkili Kişi" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Telefon Nu.</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="5** *** ** **" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Mail</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="Mail" id="example-text-input">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-md-12 col-form-label">Adres</label>
                        <div class="col-md-12">
                            <input class="form-control" type="text" value="Adres" id="example-text-input">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>