@model IEnumerable<SetsisB2C_UI.Models.Hierarchy.Hierarchy>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    ul {
        list-style: none;
    }

    [data-type="wrapper"] .wrapper {
        display: flex;
    }

    [data-type="wrapper"] ul {
        opacity: 0;
        display: none;
        transition: all .3s;
    }

    ul li[data-type="wrapper"].show ul {
        display: block;
        opacity: 1;
    }

    .mainCategorySelectBox {
        display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-6 overflow-auto" style="height:700px">


            <form action="" method="post" class="form-group" style="margin-right:20px">
                <br />
                <h4>Kategorileri Yönet</h4>
                <br />
                @*<div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="search" class="form-control" id="myInput" onkeyup="searchFunction()" placeholder="Barkod No Giriniz..">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>*@
                <ul id="myForm" class="main">

                    @foreach (var item in Model)
                    {
                        <li data-type="wrapper">
                            <div data-type="wrapper">
                                <span data-role="expander" class="font-weight-bold font-size-18">+</span>
                                <input type="checkbox" id="AnaCtrg">
                                <label for="AnaCtrg">@item.productHierarchyLevel01</label>
                                <div class="float-right">
                                    <a style="margin-right:20px" data-toggle="modal" data-target="#CategoryUpdate"><i class="bx bx-edit-alt" title="Güncelle"></i></a>
                                    <a data-toggle="modal" data-target="#CategoryDelete"><i class="mdi mdi-trash-can" title="Sil"></i></a>
                                </div>
                            </div>

                            @foreach (var x in item.productHierarchyLevel02)
                            {
                                <ul>
                                    <li data-type="node">
                                        <div data-type="wrapper">
                                            <input type="checkbox" id="AltCtgr">
                                            <label for="AltCtgr">@x</label>
                                            <div class="float-right">
                                                <a style="margin-right:20px" data-toggle="modal" data-target="#CategoryUpdate"><i class="bx bx-edit-alt" title="Güncelle"></i></a>
                                                <a data-toggle="modal" data-target="#CategoryDelete"><i class="mdi mdi-trash-can" title="Sil"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        </li>
                    }

                </ul>
            </form>

        </div>

        <div class="col-lg-6 border-left border-dark">
            @await Html.PartialAsync("~/Views/Stock/PartialView/_PartialCategoryAdd.cshtml")
        </div>
    </div>
</div>
<script>
    let wrapperList = document.querySelectorAll("[data-role='expander']")

    wrapperList.forEach(element => {
        element.addEventListener("click", (e) => {
            if (e.target.innerText == "-") {
                e.target.innerHTML = "+";
            }
            else {
                e.target.innerHTML = "-";
            }
            let parent = e.target.closest("li");
            parent.classList.toggle("show");

        })
    });

    let CategoryRadios = document.querySelectorAll("input[name='customRadiocolor1']");
    console.log(CategoryRadios);
    for (var i = 0; i < CategoryRadios.length; i++) {
        CategoryRadios[i].addEventListener("click", (e) => {
            console.log(e);
            if (e.target.value == "AnaCategory") {
                document.querySelector(".mainCategorySelectBox").style.display = "none";
            }
            else {
                document.querySelector(".mainCategorySelectBox").style.display = "block";
            }
        })
    }
</script>
@*<script>
        function searchFunction() {
            console.log("Sinan");
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            console.log(input);
            filter = input.value.toUpperCase();
            console.log(filter);
            table = document.getElementById("myForm");
            console.log(table);
            li = table.getElementsByTagName("li");
            for (i = 0; i < li.length; {
                if(td) {
                    txtValue = li.textContent || li.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
        }
    </script>*@
@await Html.PartialAsync("~/Views/Stock/PartialView/_PartialCategoryUpdate.cshtml")
@await Html.PartialAsync("~/Views/Stock/PartialView/_PartialCategoryDelete.cshtml")
