@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-center"><h3>Özellik Yönetimi</h3></div>
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <div class="search-box mr-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Ara...">
                                <i class="bx bx-search-alt search-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-right">
                            <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 mr-2" data-toggle="modal" data-target="#PropertiesAdd"><i class="mdi mdi-plus mr-1"></i>Yeni Özellik Ekle</button>
                        </div>
                    </div>
                    <!-- end col-->
                </div>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th style="width:3000px">Tanım</th>
                                <th style="width:40px">Değerler</th>
                                <th style="width:40px">Değer Ekle</th>
                                <th style="width:40px">Güncelle / Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @*Tanım*@
                                <td>Renk</td>
                                <td>
                                    <a href="javascript:void(0);" class="mr-3 text-primary row justify-content-end" data-placement="top" title="" data-original-title="Edit"><i class="bx bxs-folder-open"></i></a>
                                <td class="row justify-content-center">
                                    <a href="javascript:void(0);" class="mr-3 text-primary" data-placement="top" title="" data-original-title="Edit" data-toggle="modal" data-target="#SupliersUpdate"><i class="bx bx-add-to-queue"></i></a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="mr-3 text-primary" data-placement="top" title="" data-original-title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-danger" data-placement="top" title="" data-original-title="Delete" data-toggle="modal" data-target="#SupliersDelete"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>
                            <tr>
                                @*Tanım*@
                                <td>Kumaş</td>
                                <td>
                                    <a href="javascript:void(0);" class="mr-3 text-primary row justify-content-end" data-placement="top" title="" data-original-title="Edit" data-toggle="modal" data-target="#SupliersUpdate"><i class="bx bxs-folder-open"></i></a>
                                </td>
                                <td class="row justify-content-center">
                                    <a href="javascript:void(0);" class="mr-3 text-primary" data-placement="top" title="" data-original-title="Edit" data-toggle="modal" data-target="#SupliersUpdate"><i class="bx bx-add-to-queue"></i></a>
                                </td>
                                <td>
                                    <a href="javascript:void(0);" class="mr-3 text-primary" data-placement="top" title="" data-original-title="Edit" data-toggle="modal" data-target="#SupliersUpdate"><i class="mdi mdi-pencil font-size-18"></i></a>
                                    <a href="javascript:void(0);" class="text-danger" data-placement="top" title="" data-original-title="Delete" data-toggle="modal" data-target="#SupliersDelete"><i class="mdi mdi-close font-size-18"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                        <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@await Html.PartialAsync("_PartialPropertiesAdd")
@*
    @await Html.PartialAsync("_PartialPropertiesUpdate")
    @await Html.PartialAsync("_PartialPropertiesDelete")*@