@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Genel Ayarlar</h4>
            </div>
        </div>
    </div>

    <div class="p-2">
        <form method="post" class="form-horizontal">

            <div class="row">

                <label for="example-text-input" class="col-md-2 col-form-label">Blog Tipi</label>
                <div class="col-md-3">
                    <div class="form-check ">
                        <input class="form-check-input" id="icerik" type="radio" name="exampleRadios" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            İçerik
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check ">
                        <input class="form-check-input" id="product" type="radio" name="exampleRadios" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Ürün
                        </label>

                    </div>
                </div>

            </div>
            <div id="tblproduct" class="card" style="display:none;">
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table mb-0">

                            <thead>
                                <tr>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün Adı</th>
                                    <th>Ekle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>
                                        <span>
                                            <button class="btn btn-success">Ekle</button>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class=" row">
                <label for="example-text-input" class="col-md-2 col-form-label">Başlık</label>
                <div class="col-md-5">
                    <input class="form-control" type="text" id="example-text-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 col-form-label">Başlık Göster</label>
                <div class="form-check col-md-3 ml-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">

                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-md-2 col-form-label">Blog Tipi</label>
                <div class="col-md-3">
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="exampleRadios" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Masaüstü ve Mobil
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="exampleRadios" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Masaüstü
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-check ">
                        <input class="form-check-input" type="radio" name="exampleRadios" value="option1">
                        <label class="form-check-label" for="exampleRadios1">
                            Mobil
                        </label>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Giriş Yap</button>
            </div>
        </form>
    </div>

</div>
<script>

    document.getElementById("product").addEventListener("click", function () {

        var change = document.getElementById("tblproduct");
        if (change.style.display == "none") {

            document.getElementById("tblproduct").style.display = "block";
        }
    });

</script>
